# Environnements virtuels
env/
envP_A/
venv/

# Python cache
__pycache__/
*.pyc

# Fichiers de base de données locales
db.sqlite3

# Static & Media files
staticfiles/
media/

# Node & React
node_modules/
build/
dist/

# Fichiers système
.DS_Store
Thumbs.db

# VSCode et IDE
.vscode/
.idea/

# Env secrets
.env
